<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911025684470-dbp5hnucg27h9qd2h251l4a8l69ianvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911025684470-dbp5hnucg27h9qd2h251l4a8l69ianvj</string>
	<key>API_KEY</key>
	<string>AIzaSyAmCz1aJ9gXUXeK9gELuUpPJN0xihR0sHU</string>
	<key>GCM_SENDER_ID</key>
	<string>911025684470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartfitkorea.docircuit</string>
	<key>PROJECT_ID</key>
	<string>smartgym-gooseo</string>
	<key>STORAGE_BUCKET</key>
	<string>smartgym-gooseo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911025684470:ios:1d504baaf62ba41a0d11d7</string>
	<key>DATABASE_URL</key>
	<string>https://smartgym-gooseo.firebaseio.com</string>
</dict>
</plist>